<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gossip.mapper.NewsMapper">

    <select id="findByLastMaxId" parameterType="string" resultType="news">
        select * from news where id >#{lastMaxId} limit 0,100;
    </select>

    <select id="findToNextMaxId" parameterType="string" resultType="string">
        select max(id) from (select * from news where id >#{lastMaxId} limit 0,100) temp;
    </select>

</mapper>